.divPri {
    border-radius: 15px;
    /* height: 650px; */
    height: 100vh;
    transition: all 0.2s;
    position: relative;
    margin: 25px 25px -50px 25px;
    text-decoration: none;
    text-align: center;
    margin-bottom: 25px;
    
    
}
.divSec{
    width: inherit;
    /* height: 550px; */
    height: auto;
    background: rgba(134, 129, 129, 0.05);
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.divOptions{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0px 25px 0px;
}
.styleForm{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 650px;
    height: auto;
    background: #477c84;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 0px rgb(0 0 0 / 91%);
    justify-content: center;
    color: white;
    margin: 15px;
}

.button{
    margin: 20px 0px 0px 0px;
}
.divPri h1{
    color: #477c84 !important
}